.listMessage{
    width: 100% !important;
    .message__list{
        border: 1px solid #ccc;
        width: 80%;

        height: 500px;
        min-height: 200px;
        overflow-y: scroll;
    }
    .message__send{

    }
}